<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div style="width:100%; paddin-bottom:10px;">
            <h2>Edit Book</h2>

        </div>
        <form action="/book/edit/{{ book.id }}/" method="post" data-parsley-validate="">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ book.id }}">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-control" data-parsley-required="true"
                       value="{{ book.title }}" required/>
            </div>
            <div class="form-group">
                <label for="author">author:</label>
                <input type="text" name="author" id="author" class="form-control" data-parsley-required="true"
                       value="{{ book.author }}" required/>
            </div>
            <div class="form-group">
                <label for="date_published">Date Published:</label>
                <input type="date" name="data_published" id="date_published"
                       value="{{ book.data_published|date:'d/m/Y' }}" class="form-control" data-parsley-required="true"
                       required/>
            </div>
            <div class="form-group">
                <label for="number_of_page">Number Of Page:</label>
                <input type="number" name="number_of_page" id="number_of_page" value="{{ book.number_of_page }}"
                       class="form-control" data-parsley-required="true" required/>
            </div>
            <div class="form-group">
                <label for="type_of_book">Type Of Book:</label>
                <select name="type_of_book" id="type_of_book" class="form-control" data-parsley-required="true">
                    <option value="One Of Novel">One Of Novel</option>

                    <option value="Documentation">Documentation</option>

                    <option value="Others">Others</option>

                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
